version: '3.1'

services:

  ghost:
    image: ghost:3-alpine
    container_name: ghost
    restart: always
    volumes:
      - ./data:/var/lib/ghost/content
      - ${CUSTOM_THEME_PATH}:/var/lib/ghost/content/themes/custom-theme
    ports:
      - ${PORT}:2368
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: ${SQL_PASSWORD}
      database__connection__database: ghost
      mail__transport: SMTP
      mail__from: 'Datalab <datalab@interieur.gouv.fr>'
      mail__options__service: SMTP
      mail__options__host: ${SMTP_MAIL_HOST} 
      mail__options__port: ${SMTP_MAIL_PORT}
      mail__options__secureConnection: 'false'
      mail__options__auth__user: ${SMTP_MAIL_USER}
      mail__options__auth__pass: ${SMTP_MAIL_PASS}
      url: ${URL}
  db:
    image: mysql:5.7
    container_name: ghost-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_PASSWORD}
    volumes:
      - ./data_sql:/var/lib/mysql
