# This is a basic workflow to help you get started with Actions

name: CI Merge master

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    branches: [ master ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Build
      - name: build and tests on docker
        env:
          DOCKERHUB_LOGIN: ${{ secrets.DOCKERHUB_LOGIN  }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          # default dockerhub login (use auth to pass quota limit)
          [ -n "$DOCKERHUB_TOKEN" -a -n "$DOCKERHUB_LOGIN" ] && echo $DOCKERHUB_TOKEN | docker login --username $DOCKERHUB_LOGIN --password-stdin
          ci/run-test.sh
